@import "https://fonts.googleapis.com/css?family=Rubik:400,500,700";

* {
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer-social img {
    width: 28px;
    height: 28px;
}

::placeholder {
    color: #fff !important;
    opacity: 0.5 !important;
}


.navbar {
    position: sticky;
    top: 0px;
    z-index: 3;
}

@media screen and (max-width: 986px) {
    .navbar-collapse {
        background-color: #0e0202;
        overflow: auto;
        max-height: 350px;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 950px) {
    .hero-area .contents {
        padding: 0px !important;
    }
}




.navbar-nav {
    margin: 0 auto;
    margin-right: 2% !important;
}


.navbar-brand img {
    width: 50px;
}


.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.login-btn {
    height: 30px !important;
}

button .login-text {
    color: #fff;
    margin-top: -6px;
}

.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: .5px;
    clear: both;
    position: relative;
    outline: 0;
    transition: all .3s ease-in-out;
}


.nav-item:hover ul {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

.dropdown-toggle::after {
    display: inline-block;
    transform: rotate(270deg);
    position: absolute;
    content: "<";
    border: none !important;
}

.nav-item ul::before {
    position: absolute;
    top: -6px;
    left: 22px;
    content: "";
    border-style: solid;
    border-width: 0 9px 8px;
    border-color: transparent transparent #fff;
    box-sizing: border-box;
}

@media screen and (max-width: 991px) {
    .nav-item ul::before {
        display: none;
    }
}

.nav-item:hover .nav-link {
    color: #008000 !important;
}

.dropdown-menu {
    padding: 10px;
}

.dropdown-item:hover {
    background-color: #008000;
    border-radius: 3px 3px 3px 3px;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #26ae61;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);

}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    width: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Comic Sans MS, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #191c1e;
}

.navbar-brand-name {
    color: #26ae61;
    font-size: 14px;
    text-transform: uppercase
}

.navbar-toggler {
    background-color: #008000;
}

.hero-area {
    background: #fff;
    color: #fff;
    overflow: hidden;
    position: relative;
}


.hero-area .contents {
    padding: 150px 0 80px;
}

@media screen and (max-width: 991px) {
    .navbar-brand-name {
        display: none;
    }
}

.hero-area .contents h2 {
    color: #333;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 25px;
}

.hero-area .contents p {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 26px;
}

.job-search-form {
    margin-top: 35px;
}

.job-search-form .form-group {
    margin-bottom: 0;
}

.form-control {
    width: 100%;
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #26ae61;
    transition: all .3s;
}

.secrch-placeholder::placeholder {
    color: black !important;
    font-size: 14px;
}

.job-search-form .button {
    font-size: 22px;
    line-height: 14px;
    display: inline-block;
    position: relative;
    outline: none !important;
    background: #26ae61;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
    overflow: hidden;
    padding: 11px 12px;
    transition: .3s;
    border-radius: 20px;
    z-index: 1;
}

.hero-area .intro-img {
    padding: 120px 0 0;
}


.hero-area .intro-img img {
    display: block;
    height: auto;
    max-width: 100%;
}

.section {
    padding: 60px 0;
}

.section-header {
    color: #fff;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
}

.section-header .section-title {
    font-size: 30px;
    margin-bottom: 0px;
    font-family: rubik, sans-serif;
    font-weight: 700;
    color: #333;
    position: relative;
}

p {
    font-size: 14px;
    color: #6b6969;
    line-height: 26px;
    font-family: rubik, sans-serif;
    margin-bottom: 0;
}

a {
    color: #26ae61;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.f-category {
    transition: all .3s linear;
    border: 1px solid #f1f1f1;
    margin-top: -1px;
    background: #fff;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    display: block;
    margin-right: -1px;
}

.f-category a {
    display: block;
}

.catlogo img {
    height: 60px;
    width: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.f-category h3 {
    font-size: 18px;
    line-height: 32px;
    transition: all .3s linear;
    color: #333;
}



.category-btn {
    width: 100%;
    line-height: 40px;
    background-color: rgba(250, 245, 245, 0.42);
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: Comic Sans MS, sans-serif;
}

.category .f-category:hover {
    transform: scale(1.1);
    background: #f9fcff;
}


.lni-angle-double-down {
    font-size: 10px;
}

a:hover {
    text-decoration: none;
    outline: none;
    color: #26ae61;
}


.text-wrapper {
    text-align: center;
}

#browse-jobs .text-wrapper {
    width: 100%;
    display: table;
    height: 100%;

}

#browse-jobs .text-wrapper>div {
    vertical-align: middle;
    display: table-cell;
}

#browse-jobs .text-wrapper h3 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

#browse-jobs .text-wrapper p {
    margin-bottom: 60px;
}


.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    border: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.btn-common {
    background: #26ae61;
    position: relative;
    z-index: 1;
}

.btn-common:hover {
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .15), 0 4px 15px 0 rgba(0, 0, 0, .15);
    background: #42e287;
}

.section-header {
    color: #fff;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
}


.section-header .section-title {
    font-size: 30px;
    margin-bottom: 0px;
    font-family: rubik, sans-serif;
    font-weight: 700;
    color: #333;
    position: relative;
}



#browse-jobs .text-wrapper {
    width: 100%;
    display: table;
    height: 100%;
}

.work-process {
    padding: 0 30px;
    text-align: center;
}

.work-process .process-icon {
    font-size: 48px;
    color: #26ae61;
    display: inline-block;
    margin-bottom: 10px;
}

.work-process h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}


.testimonial-item {
    padding: 30px;
    margin: 15px;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 14px rgba(191, 191, 191, .24);
}



.testimonial-item .author {
    display: inline-block;
    margin-bottom: 20px;
}

.testimonial-item .author .img-thumb {
    float: left;
    overflow: hidden;
    position: relative;
}

.testimonial-item .content-inner .description {
    width: 100%;
    margin-bottom: 10px;
}

.testimonial-item .content-inner .author-info h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
}


.testimonial-item .content-inner .author-info h2 a {
    color: #484848;
    text-decoration: none;
}


.owl-theme .owl-dots .owl-dot span {
    width: 8px !important;
    height: 8px !important;
    background: #fff !important;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
    margin: 2px !important;

}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    border: 1px solid gray !important;
    border-radius: 18px !important;
    margin: 2px !important;


}


.owl-theme .owl-dots .owl-dot.active span {
    background: #26ae61 !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #26ae61 !important;
}



.bg-gray {
    background: #f9fcff;
}

#download .download-wrapper {
    width: 100%;
    display: table;
    height: 100%;
}

#download .download-wrapper>div {
    vertical-align: middle;
    display: table-cell;
}

#download .download-wrapper .download-text h4 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

#download .download-wrapper p {
    margin-bottom: 35px;
}

#download .download-wrapper .app-button .btn {
    border-radius: 30px;
    width: 200px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 17px;
    margin-right: 10px;
    text-transform: capitalize;
}

#download .download-wrapper .app-button .btn-common {
    border: 2px solid #26ae61;
}

#download .download-wrapper .app-button .btn i {
    display: inline-block;
    font-size: 30px;
    float: left;
    line-height: 36px;
    margin-right: -6px;
}

#download .download-wrapper .app-button .btn span {
    font-size: 13px;
    font-weight: 400;
}


@media only screen and (max-width: 767px) {

    .job-search-form .button {
        width: 100%;
        margin-top: 20px;
    }
}



@media only screen and (max-width: 767px) {
    #download .download-wrapper .app-button .btn {
        margin-bottom: 20px;
        margin-left: 88px;
    }

}

.btn-border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border-color: #26ae61;
    color: #26ae61;
}

.btn-border:hover {
    border-color: #26ae61;
    color: #26ae61;
    box-shadow: 0 7px 9px rgba(96, 94, 94, .17);
}

footer .footer-Content {
    background-color: #24324a;
    padding: 60px 0;
    color: #8a99b3;
}

.footer-logo {
    margin-bottom: 17px;
}

.footer-logo img {
    height: 50px;
}

.textwidget {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

footer .footer-Content p {
    color: #8a99b3;
}

.block-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
}

footer .menu {
    padding-left: 0;
    float: left;
    width: 50%;
}

footer .menu li {
    list-style: none;
    padding-bottom: 15px;
}

footer .menu li a {
    color: #8a99b3;
    font-size: 14px;
}

#subscribe-form {
    margin-top: 15px;
}


#subscribe-form .form-group {
    position: relative;
}

#subscribe-form .form-group .form-control {
    border-radius: 30px;
    background: 0 0;
    color: #fff;
    border: 1px solid #536688;
    padding: 8px 15px;
}

#subscribe-form .form-group .btn-common {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
    height: 39px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: 0 0;
    background: #26ae61;
}


.footer-social li {
    display: inline-block;
    margin-right: 12px;
}

.footer-social li .facebook {
    color: #3b5998;
}

.footer-social li .twitter {
    color: #55acee;
}

.footer-social li .linkedin {
    color: #007bb5;
}

#copyright {
    background-color: #26ae61;
    padding: 20px 0 10px;
    color: #fff;
}

#copyright p {
    line-height: 34px;
    color: #fff;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px solid #fff;
    outline: none;
    background-color: #26ae61;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 14px;
    height: 40px;
    width: 40px;
}

#myBtn i {
    position: absolute;
    top: 10px;
    left: 11.5px;
    font-size: 15px;
}

/* new design end here */